.AppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
}

.flex {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
