.contentwrapbc {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  padding: 0px 5px 0px 0px;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  padding: 0px 5px 0px 0px;
}

.flexcentered {
  display: flex;
  align-items: center;
}

.flexjustifycentered {
  display: flex;
  justify-content: center;
}

.flex_bottomright {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.contentwrapbc::-webkit-scrollbar {
  width: 8px;
}

.contentwrapbc::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.contentwrapbc::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-clip: content-box;
  background-color: #8585ad;
}
